body{
  background-image:url(https://m.popkey.co/66b51e/ldlo7.gif);
  /*height: 100%;
  width: 100%;*/
}
h1{
  color: yellow;

}
a {
  color: yellow;

}
#cdm{
  color: yellow;
}
#cdt{
  color: yellow;
}
ul{
  color: yellow;
}
img{
  width: 75%;
  padding-left: 400px;
}
