body{
  background-image:url(http://i.imgur.com/MHWLac7.gif);
  /*height: 100%;
  width: 100%;*/
}
h1{
  color: white;

}
a {
  color: white;

}
#cdm{
  color: white;
}
#cdt{
  color: white;
}
ul{
  color: white;
}
img{
  width: 75%;
  padding-left: 400px;
}
